html, body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    background-color: #111111;
    font-family: 'JetBrains Mono', monospace;

    font-size: 16px;
    color: #ADADAD;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
}

a {
    color: #6666EE;
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: #8888EE;
}

#content {
    text-align: left;
    padding: 40px;
    background-color: #161616;
    border: 1px solid transparent;
    border-image: linear-gradient(var(--angle), #b827fc 0%, #2c90fc 25%, #421ca1 50%, #0d2b90 75%, #d522ed 100%);
    border-image-slice: 1;
    animation: 22s rotate linear infinite;
}

@-moz-document url-prefix() {
    #content {
        --angle: 45deg;
    }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

#name {
    font-size: 32px;
    color: #DFDFDF
}

#subtitle {
    width: 64ch;
    white-space: nowrap;
    font-style: italic;
}

#hobbies-header {
    margin-top: 16px;
}

#hobbies-list {
    margin-top: 8px;
}

#work-header {
    margin-top: 16px;
}

#work-list {
    margin-top: 8px;
}

#find-me-header {
    margin-top: 16px;
}

#find-me-list {
    margin-top: 8px;
}

#heart {
    height: 20px;
    margin-left: .7ch;
    margin-right: .7ch;
}

#footer {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
}

#outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#webring {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
}

#webring-next-link {
    margin-left: .7ch;
    text-decoration: none;
}

#webring-last-link {
    margin-right: .7ch;
}

#webring-next {
    width: 15%;
    text-align: right;
}

#webring-last {
    width: 15%;
}

#webring-text {
    font-style: italic;
}

.subheader {
    font-size: 20px;
    color: #DFDFDF
}